body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgb(17, 51, 161) 0%,
    rgb(136, 34, 195) 100%
  );
}

h1 {
  text-align: center;
  font-family: comic sans MS;
  color: lightgray;
}

canvas {
  box-shadow: black 20px 10px 50px;
}

.lose {
  font-size: 40px;
  background: -webkit-linear-gradient(0deg, magenta 0%, blue 50%, red 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
